* {
	font-family: $text-font;
	font-weight: 300;
}

main {
	color: $text-color;
	i {
		color: $text-color;
    }
    font-size: 0.9rem;
	margin: 5rem;
	margin-left: 24rem;
}

a {
	text-decoration: none !important;
}

p {
	margin: 0;
}

.blue {
	color: $primary-color;
}

.bold {
	font-weight: 400;
}

section {
	margin-top: 3rem;
	header {
		font-size: 1.5rem;
		margin-bottom: 1rem;
		font-weight: 500;
		letter-spacing: 0.07rem;
		font-family: $header-font;
		margin-left: -0.07rem;

		&:after {
			content: '.........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................';
			font-size: 1rem;
			margin-top: -0.5rem;
			color: $primary-color;
			overflow: hidden;
			display: block;
		}
    }
}