<section id="contact">
    <h1 id="name">Dante De Ruwe</h1>
    <h2 id="dob">02/06/1998</h2>
    <div class="info">
        <div class="info-item">
            <i class="fas fa-home"></i>
            <p><em>On request</em></p>
        </div>
        <div class="info-item">
            <i class="fas fa-phone"></i>
            <p><em>On request</em></p>
        </div>
        <div class="info-item">
            <i class="fas fa-at"></i>
            <a href="mailto:dantederuwe@gmail.com">dantederuwe@gmail.com</a>
        </div>
        <div class="info-item">
            <i class="fab fa-linkedin"></i>
            <a href="https://www.linkedin.com/in/dantederuwe/">linkedin.com/in/dantederuwe</a>
        </div>
        <div class="info-item">
            <i class="far fa-user"></i>
            <a href="https://dante.deruwe.me">dante.deruwe.me</a>
        </div>
    </div>
</section>
