<section id="education">
    <header>Education</header>

    <div class="full-item">
        <div class="item-date">2018 - now</div>
        <div class="item-title">Professional Bachelor</div>
        <a href="https://hogent.be/en" class="item-location">Ghent University College</a>
        <div class="item-description">Applied Information Technology: application development</div>
    </div>

    <div class="full-item">
        <div class="item-date">2016 - 2018</div>
        <div class="item-title">Bachelor of Science</div>
        <div class="item-location">Ghent University</div>
        <div class="item-description">
            Physics and Astronomy (did not finish)
        </div>
    </div>

    <div class="full-item">
        <div class="item-date">2010 - 2016</div>
        <div class="item-title">Secondary Education</div>
        <div class="item-location">
            St. Francis Xavier Institute Bruges
        </div>
        <div class="item-description">
            Latin, Sciences-Maths 8
        </div>
    </div>
</section>