<section id="experience">
    <header>Working Experience</header>
    <div class="full-item">
        <div class="item-date">Summer 2020</div>
        <div class="item-title">Developer (Student Job)</div>
        <a href="https://www.novado.be/" class="item-location">Novado</a>
        <div class="item-description">
            Software developer focussing on full-stack web development, process automation, database
            scripting and much more. Technologies used: C# .NET Core, SQL, WPF, ...
        </div>
    </div>

    <div class="full-item">
        <div class="item-date">Summer 2019</div>
        <div class="item-title">Administrative Assistent (Student Job)</div>
        <a href="https://ccctransport.com/" class="item-location">Continental Cargo Carriers</a>
        <div class="item-description">
            My job was to assist the administrative team in managing freight documents and other
            paperwork; and process them through our new IT system. I also offered to assist by doing
            business process improvement: I wrote a script which saved our admin team one afternoon a
            week, for example. Additionally, I lend a helping hand with customer communication and
            assistance.
        </div>
    </div>

    <div class="full-item">
        <div class="item-date">2017 - 2019</div>
        <div class="item-title">Observatory Tour Guide (Student Job)</div>
        <a href="http://cozmix.be/en/" class="item-location">Cozmix</a>
        <div class="item-description">
            My responsibility was educating groups of visitors on guided tours through the observatory.
            Tasks include operating the planetarium and telescopes while explaining the basics of
            astronomy, as well as guiding through the exhibition, dealing with administrative tasks and
            managing ticket sales.
        </div>
    </div>

    <div class="full-item">
        <div class="item-date">2013 - 2017</div>
        <div class="item-title">Various hospitality student jobs</div>
        <div class="item-location"><a href="http://bocca.be/">Bocca</a>, La Baguette, ...</div>
        <div class="item-description">
            Taking and preparing orders for mainly tourists and students. Mostly very busy places.
        </div>
    </div>
</section>