{{ $data := index .Site.Data .Site.Language.Lang }}

{{with $data.tech_skills}}
<section id="technical-skills">
    <header>{{.title}}</header>

    {{with .general}}
    <h1>{{.title}}</h1>
    <p>
        {{.text}}
    </p>
    <br />
    {{end}}

    {{with .projects}}
    <h1>{{.title}}</h1>
    <div id="featured-technical-skills">
        <ul>
            {{range .projects}}
            <a href="{{.link}}" style="color:inherit">
                <li>
                    <span>{{.name}}</span>
                    <small style="color:gray">({{.techs}})</small>
                </li>
            </a>
            {{end}}
        </ul>
        <em style="color: gray;">{{.extra}}</em>
    </div>
    {{end}}

    {{with .techs}}
    <h1>{{.title}}</h1>
    <div id="other-technical-skills" class="devicons">
        {{range .techs}}
        {{if .class}}
        <div><i class="{{.class}}"></i><span>{{.name}}</span></div>
        {{end}}
        {{end}}
    </div>
    <br />
    {{end}}

    {{with .future}}
    <h1>{{.title}}</h1>
    <div>{{.text}}</div>
    {{end}}

</section>
{{end}}