{{ $data := index .Site.Data .Site.Language.Lang }}

{{with $data.tech_skills}}
<section id="technical-skills">
    <header>{{.title}}</header>

    {{with .general}}
    <h1>{{.title}}</h1>
    <p>
        {{.text}}
    </p>
    <br />
    {{end}}

    {{with .projects}}
    <h1>{{.title}}</h1>
    <div id="featured-technical-skills">
        <ul>
            {{range .projects}}
            <a href="{{.link}}" style="color:inherit">
                <li>
                    <span>{{.name}}</span>
                    <small style="color:gray">({{.techs}})</small>
                </li>
            </a>
            {{end}}
        </ul>
        <em style="color: gray;">
            {{.projectLinkPre}}
            <a style="color: gray !important;" href="{{.projectLink}}">{{.projectLink}}</a>
            {{.projectLinkPost}}
        </em>
    </div>
    {{end}}


    <div class="tech-sections">
        {{range .techSections}}
        <div class="tech-section">
            <h1>{{.title}}</h1>
            <div class="devicons">
                {{range .techs}}
                <div>
                    {{if .class}}
                    <i class="{{.class}}"></i>
                    {{end}}
                    <span>{{.name}}</span>
                </div>
                {{end}}
            </div>
        </div>
        {{end}}
    </div>
    <br />
</section>
{{end}}